
<h1 class="text-center text-primary">Modeforces C++</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 problem-container">
      <h3 class="text-danger">Sum of two numbers</h3>
      <h3 class="text-primary">Problem Statement :</h3>
      
      <p>
        Write a program that reads two integers a and b as input and prints the sum as output. Ensure that your solution handles integers that may exceed the limits of 32-bit signed integers.
      </p>
      <p>
        Example Input:
      </p>
      <pre>Input: <br>5<br>1 2 3 4 5</pre>
      <p>
        Example Output:
      </p>
      <pre>Output: 5</pre>
      <br>
      
      <hr>
      <br>
      
      <p>
        Example Input:
      </p>
      <pre>Input: <br>6<br>123 456 789 1011 1213 1415</pre>
      <p>
        Example Output:
      </p>
      <pre>Output: 1415</pre>
      <p>
        <strong>Constraints:</strong>
      </p>
      <ul>
        <li>The input integers may exceed the 32-bit signed integer range (−2<sup>31</sup> to 2<sup>31</sup> - 1).</li>
        <li>Use arbitrary-precision integers or data types that can safely handle very large integer values without overflow.</li>
      </ul>
    </div>
    <div class="col-md-6 editor-section">
      <select name="" id="">
        <option value="">Sum of two numbers</option>
      </select>
      <div #editorContainer class="editor-container"></div>
      <button class="btn btn-primary" (click)="submitCode()">Submit Code</button>

      <div class="response-container">
        <h3>Server Response:</h3>
        <pre class="response-box">{{ serverResponse }}</pre>
      </div>
    </div>
  </div>
</div>
