<?xml version="1.0" encoding="utf-8"?>
<publishData>
  <publishProfile
    profileName="site14169-WebDeploy"
    publishMethod="MSDeploy"
    publishUrl="site14169.siteasp.net"
    msdeploySite="site14169"
    userName="site14169"
    userPWD="gE!54kN=%3qM"
    destinationAppUrl="http://modeforces.runasp.net/"
    />
</publishData>
